<!-- 
  This file is part of GNU TALER.
  Copyright (C) 2014, 2015, 2016 INRIA

  TALER is free software; you can redistribute it and/or modify it under the
  terms of the GNU Lesser General Public License as published by the Free Software
  Foundation; either version 2.1, or (at your option) any later version.

  TALER is distributed in the hope that it will be useful, but WITHOUT ANY
  WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
  A PARTICULAR PURPOSE.  See the GNU Lesser General Public License for more details.

  You should have received a copy of the GNU Lesser General Public License along with
  TALER; see the file COPYING.  If not, If not, see <http://www.gnu.org/licenses/>

  @author Marcello Stanisci
-->
<div>
 <link rel="stylesheet" type="text/css" href="/static/web-common/dropdown-navbar_style.css"> 
 <script src="/static/web-common/dropdown-navbar_script.js" type="application/javascript"></script>
  <div class="dropdown-navbar">
    <ul>
      <li>
        <a href="javascript:void(0)" class="dropbtn" id="shop">Shop</a>
        <div class="dropdown-content shop">
          <a href="/shop">Donations</a>	
          <a href="/blog">Blog</a>	
	</div>
      </li>
      <li>
        <a href="javascript:void(0)" class="dropbtn" id="bank">Bank</a>
        <div class="dropdown-content bank">
          <a href="/bank">Homepage</a>	
          <a href="/bank">Login</a>	
          <a href="/bank/public-accounts">Public accounts</a>	
	</div>
      </li>
      <li>
        <a href="javascript:void(0)" class="dropbtn" id="landing">About</a>
        <div class="dropdown-content landing">
          <a href="/landing">Landing page</a>	
	</div>
      </li>
    </ul>
  </div>
<div>
