/*
  This file is part of GNU TALER.
  Copyright (C) 2014, 2015, 2016 INRIA

  TALER is free software; you can redistribute it and/or modify it under the
  terms of the GNU Lesser General Public License as published by the Free Software
  Foundation; either version 2.1, or (at your option) any later version.

  TALER is distributed in the hope that it will be useful, but WITHOUT ANY
  WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
  A PARTICULAR PURPOSE.  See the GNU Lesser General Public License for more details.

  You should have received a copy of the GNU Lesser General Public License along with
  TALER; see the file COPYING. If not, see <http://www.gnu.org/licenses/>

  @author Marcello Stanisci
*/

.dropdown-navbar ul {
  border-radius: 5px;
  overflow: hidden;
  background-color: #F4F3F3;
  list-style-type: none;
  margin: 0;
  padding: 0;
  max-width: 40em;
}
.dropdown-navbar {
  position: relative;
  z-index: 1;
  margin-left: 100px;
}
.dropdown-navbar li {
  float: left; 
}
.dropdown-content {
  border-radius: 5px;
  border-style: solid;
  border-color: #B3B3B3;
  border-width: 1px;
  background-color: #F4F3F3;
  position: absolute;
  display: none;
}
.dropdown-navbar a {
  font-weight: bold;
  color: black;
  text-decoration: none;
  padding: 6px 8px;
  display: inline-block;
  position: relative;
}
.dropdown-content a {
  display: block;    
}
.show {
  display: block;
}
