/*
  This file is part of GNU TALER.
  Copyright (C) 2014, 2015, 2016 INRIA

  TALER is free software; you can redistribute it and/or modify it under the
  terms of the GNU Lesser General Public License as published by the Free Software
  Foundation; either version 2.1, or (at your option) any later version.

  TALER is distributed in the hope that it will be useful, but WITHOUT ANY
  WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR
  A PARTICULAR PURPOSE.  See the GNU Lesser General Public License for more details.

  You should have received a copy of the GNU Lesser General Public License along with
  TALER; see the file COPYING.  If not, If not, see <http://www.gnu.org/licenses/>

  @author Marcello Stanisci
  @author Gabor Toth
*/

body {
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: Verdana, sans;
}

header {
    width: 100%;
    height: 100px;
    margin: 0;
    padding: 0;
    border-bottom: 1px solid black;
}

/* NOTE: this class is needed to differentiate h1's which need to coexist
  with the navigation bar, and h1's which don't (like the ones in the blog's
  articles) */
header h1.nav {
    font-size: 200%;
/*  position: relative;
    margin: 15 0 0 120px;
    top: 50%;
    transform: translateY(-50%);*/
}

body.article {
    transform: translateY(-22px);
}

/* Redundant for testing reasons */
header h1.book-title {
    font-size: 200%;
    transform: translateY(30px);
    margin-left: 100px;
}
/*
    margin: 15 0 0 120px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}*/
header #logo {
    float: left;
    width: 100px;
    height: 100px;
    padding: 0;
    margin: 0;
    text-align: center;
    border-right: 1px solid black;
}

section#menu {
    margin: 0 0 90 0;
    padding: 5px;
    border-right: 1px solid black;
    height: 100%;
    width: 90px;
    float: left;
}

section#main {
    margin: 0 0 0 100px;
    padding: 20px;
    border-left: 1px solid black;
    height: 100%;
    max-width: 40em;
}

section#main h1:first-child {
    margin-top: 0;
}

div.login-form, div.register-form {
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 11px 27px 44px 27px;
    max-width: 200px;
}

div.login-form input[type=submit],
div.register-form input[type=submit] {
    width-max: 30%;
    float: right;
    padding: 6px;
}

.selected-item {
    border-style: solid;
    border-width: 1px;
}

.informational {
    border-radius: 8px;
    padding: 8px;
}

.informational-ok {
    background: #ccffcc;
}

.informational-fail {
    background: #ff8566;
}

div.login-form input[type=text],
div.login-form input[type=password],
div.register-form input[type=text],
div.register-form input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

h1 {
    font-size: 160%;
}

h2 {
    font-size: 140%;
}

h3 {
    font-size: 120%;
}

h4, h5, h6 {
    font-size: 100%;
}

table.history {
	margin: 30px 0px;
	border-width: 0px;
	border-spacing: 3px;
	border-style: groove;
	border-color: gray;
	border-collapse: separate;
	background-color: white;
}
table.history th {
	border-width: 1px;
	padding: 5px;
	border-style: outset;
	border-color: gray;
	background-color: white;
	-moz-border-radius: ;
}
table.history td {
	border-width: 1px;
	padding: 5px;
	border-style: outset;
	border-color: gray;
	background-color: white;
	-moz-border-radius: ;
}

.fade {
        -webkit-animation: fade 0.7s;
        animation: fade 0.7s;
        opacity: 1;
}
